@font-face {
  font-family: Typewriter;
  src: url('MonospaceTypewriter.ttf');
}

* {
  font-family: Typewriter;
}

body {
  background-color: #fff;
  color: #727272;
  text-align: center;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 3px;
}
